<footer class="text-muted py-5">
  <div class="containerFooter" id="footer">
    <p class="mb-1">Copyright &copy; truquinio,<br> all rights reserved</p>
    <p class="mb-0">Visit my <a href="https://github.com/truquinio" class="github"><br>GitHub</a> profile or visit my
      <a href="https://www.linkedin.com/in/federico-trucco/" class="linkedin">LinkedIn</a> profile.
    </p>
    <p class="float-end mb-1">
      <a href="#" class="up-sky" id="sky">⬆️ Ir al cielo</a>
    </p>
  </div>
</footer>
