<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- <etiqueta-Padre th:replace = "/Carpeta-Plantilla/etiqueta-hijo :: etiqueta-Padre"></etiqueta-Padre> -->
<head th:replace = "/fragments/head :: header_form"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="fragments/navbar :: navbar_users"></header>

  <main id="main2">

    <!-- EXITO / ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div th:replace="fragments/exitoError :: div"></div>
    </div>

    <!-- MENSAJE por si no está LOGUEADO -->
    <div  th:replace="fragments/login :: div"></div>

    <!-- FORMULARIO AUTOR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div sec:authorize="hasRole('ADMIN')" class="container-fluid m-5 contenedor">
      <!-- sec:authorize="hasRole('ADMIN') = Sólo rol ADMIN puede acceder al formulario -->

      <!--  action = Se dispara la acción al servidor y se ejecuta en una URL (/autor/registro) y ocurre en una petición del tipo POST  -->
      <form class="formulario" th:action="@{/autor/registro}" method="POST">

        <div class="form-group my-3">
          <label class="mb-2" id="cargar">Cargar Autores</label>

          <!-- Este input envía datos encerrados en una variable con un name (debe coincidir con lo que llega como parámetro al controlador) por eso se llama "nombre"  -->
          <input type="text" class="form-control" name="nombre" placeholder="Nombre del Autor" required>
        </div>

        <!-- BOTÓN GUARDAR  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
        <div class="divGuardar">
          <button type="submit" class="btn btn-primary mt-3 botones" id="botonAmarillo">Guardar</button>
        </div>
      </form>

    <!-- BOTÓN VOLVER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <section th:replace="fragments/volver :: section"></section>
    </div>
  </main>

  <!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!--	DARK MODE  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script src="/js/toggle.js"></script>

  <!--	SCRIP de BOOTSTRAP v5.3  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script th:replace="fragments/bootstrap :: script"></script>

</body>
</html>