<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Registro de Editoriales</title>

  <!-- CSS only -->
  <link rel="stylesheet" href="/css/reset.css">

  <link href="css/one-page-wonder.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!--	LINK de CSS	-->
  <link rel="stylesheet" href="/css/formulario.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/darkmode.css">
  <link rel="stylesheet" href="/css/botones.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body style="overflow-x:hidden">
  <header>
    <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <nav class="navbar navbar-expand-lg navBar" id="navbar">
      <div class="containerImg">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <img class="logo" src="/img/Egg.png" alt="Img logo egg">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- DARK-MODE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
      <div id="darkmode">
        <img class="sun" src="/img/sun.png">
        <img class="moon" src="/img/moon.png">
        <div class="toggle"></div>
      </div>

      <!-- CREAR y LISTAR LIBROS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
      <div class="collapse navbar-collapse elementosNav" id="desplegables">

        <ul class="navbar-nav ms-auto elementos">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lista1" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Libros
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Crear Libro" -->
              <li><a class="dropdown-item" th:href="@{/libro/registrar}">Crear Libro</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Listar Libros" -->
              <li><a class="dropdown-item" th:href="@{/libro/lista}">Listar Libros</a></li>
              <!-- th: = Tag de Thymeleaf -->
            </ul>
          </li>


          <!-- CREAR y LISTAR AUTORES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="lista2" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Autores
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listas">
              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Crear Autor" -->
              <li><a class="dropdown-item" th:href="@{/autor/registrar}">Crear Autor</a></li>
              <!-- th: = Tag de Thymeleaf -->

              <li>
                <hr class="dropdown-divider">
              </li>

              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Listar Autores" -->
              <li><a class="dropdown-item" th:href="@{/autor/lista}">Listar Autores</a></li>
              <!-- th: = Tag de Thymeleaf -->
            </ul>
          </li>

          <!-- CREAR y LISTAR EDITORIALES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lista3" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Editoriales
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listas">
              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Crear Editorial" -->
              <li><a class="dropdown-item" th:href="@{/editorial/registrar}">Crear Editorial</a></li>
              <!-- th: = Tag de Thymeleaf -->
              <li>
                <hr class="dropdown-divider">
              </li>

              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Listar Editoriales" -->
              <li><a class="dropdown-item" th:href="@{/editorial/lista}">Listar Editoriales</a></li>
            </ul>
            <!-- th: = Tag de Thymeleaf -->
        </ul>
        </li>
        </ul>
      </div>
    </nav>
  </header>

<main id="main2">
  <!-- MODIFICAR EDITORIAL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <div class="container-fluid m-5 contenedor">

    <!--  action = Se dispara la acción al servidor y se ejecuta en una URL (/autor/registro) y ocurre en una petición del tipo POST  -->
    <form class="formulario" th:action="@{/editorial/modificar/__${editorial.id}__}" method="POST">
      <input hidden th:value="${id}" name="id">

      <div class="form-group my-3">
        <label class="mb-2">Cargar Editoriales</label>

        <!-- Este input envía datos encerrados en una variable con un name (debe coincidir con lo que llega como parámetro al controlador) por eso se llama "nombre"  -->
        <input th:value="${editorial.nombre}" type="text" class="form-control" name="nombre">
      </div>

      <button type="submit" class="btn btn-primary mt-3 botones" id="actualizar">Actualizar</button>
    </form>


    <!-- EXITO / ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->

    <!-- th:if="${exito != null}" = Tag de Thymeleaf + condición -->
    <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
      <div class="card-body">
        <h5 class="card-title">Exito! 👍</h5>

        <!-- Llamo a la llave ${ modelo.put("exito", exception.getMessage()); } desde clase AutorControlador -->
        <p class="card-text" th:text="${exito}"></p>
      </div>
    </div>

    <!-- th:if="${error != null}" = Tag de Thymeleaf + condición -->
    <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
      <!-- Llamo a la llave ${ modelo.put("error", exception.getMessage()); } desde clase AutorControlador -->

      <div class="card-body">
        <h5 class="card-title">Error 👎</h5>

        <!-- Llamo a la llave ${ modelo.put("error", exception.getMessage()); } desde clase AutorControlador -->
        <p class="card-text" th:text="${error}"></p>
      </div>
    </div>

    <!-- BOTÓN VOLVER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <section class=" text-center container">
      <div class="row mt-3">
        <div class="volver">
          <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
          <!-- th: = Tag de Thymeleaf -->
        </div>
      </div>
    </section>
  </div>
</main>

  <!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer class="text-muted py-5">
    <div class="containerFooter" id="footer">
      <p class="mb-1">Copyright &copy; truquinio,<br> all rights reserved</p>
      <p class="mb-0">Visit my <a href="https://github.com/truquinio" class="github"><br>GitHub</a> profile or visit my <a
          href="https://www.linkedin.com/in/federico-trucco/" class="linkedin">LinkedIn</a> profile.</p>
      <p class="float-end mb-1">
        <a href="#" class="up-sky" id="sky">⬆️ Ir al cielo</a>
      </p>
    </div>
  </footer>

  <!--	DARK MODE  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script src="/js/toggle.js"></script>

  <!--	SCRIP de BOOTSTRAP v5.2  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</body>
</html>