<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- <etiqueta-Padre th:replace = "/Carpeta-Plantilla/etiqueta-hijo :: etiqueta-Padre"></etiqueta-Padre> -->
<head th:replace = "/fragments/head2 :: head"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="fragments/navbar :: header"></header>

  <main id="main2">
    <!-- MODIFICAR EDITORIAL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div class="container-fluid m-5 contenedor">

      <!--  action = Se dispara la acción al servidor y se ejecuta en una URL (/autor/registro) y ocurre en una petición del tipo POST  -->
      <form class="formulario" th:action="@{/editorial/modificar/__${editorial.id}__}" method="POST">
        <input hidden th:value="${id}" name="id">

        <div class="form-group my-3">
          <label class="mb-2">Cargar Editoriales</label>

          <!-- Este input envía datos encerrados en una variable con un name (debe coincidir con lo que llega como parámetro al controlador) por eso se llama "nombre"  -->
          <input th:value="${editorial.nombre}" type="text" class="form-control" name="nombre">
        </div>

        <!-- BOTÓN ACTUALIZAR  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
        <div class="divGuardar">
          <button type="submit" class="btn btn-primary mt-3 botones" id="botonAmarillo">Actualizar</button>
        </div>
      </form>

      <!-- EXITO / ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
      <div th:replace="fragments/exitoError :: div"></div>
    </div>

    <!-- BOTÓN VOLVER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <section th:replace="fragments/volver :: section"></section>
    </div>
  </main>

  <!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!--	DARK MODE  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script src="/js/toggle.js"></script>

  <!--	SCRIP de BOOTSTRAP v5.2  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script th:replace="fragments/scriptBootstrap :: script"></script>

</body>

</html>