<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- <etiqueta-Padre th:replace = "/Carpeta-Plantilla/etiqueta-hijo :: etiqueta-Padre"></etiqueta-Padre> -->
<head th:replace = "/fragments/head :: header_form"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="fragments/navbar :: navbar_users"></header>

  <main id="main2">

    <!-- EXITO / ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div th:replace="fragments/exitoError :: div"></div>
    </div>

    <!-- MENSAJE por si no está LOGUEADO -->
    <div  th:replace="fragments/login :: div"></div>

    <!-- TABLA EDITORIALES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div sec:authorize="hasAnyRole('ADMIN','USER')" class="container m-5">
      <!-- sec:authorize="hasAnyRole('ADMIN', USER) = Sólo logueados pueden ver a la TABLA -->

      <table class="table table-dark" id="tabla">
        <thead>
          <tr>
            <th scope="col">Id de la Editorial</th>
            <th scope="col">Nombre la Editorial</th>
            
            <!-- sec:authorize="hasRole('ADMIN')" = Condiciono q columna acciones sólo se vea siendo ADMIN -->
            <th scope="col" sec:authorize="hasRole('ADMIN')" >Acciones</th>

          </tr>
        </thead>
        <tbody th:each="editorial : ${editoriales}">
          <tr>
            <th scope="row" th:text="${editorial.id}"></th>
            <td th:text="${editorial.nombre}"></td>
            
            <td sec:authorize="hasRole('ADMIN')">
              
              <a th:href="@{/editorial/modificar/__${editorial.id}__}"><i class="bi bi-pen"></i> Modificar</a>
              <a th:href="@{/editorial/eliminar/__${editorial.id}__}"><i class="bi bi-trash"></i> Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>

    <!-- BOTÓN VOLVER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div id="divVolver1">
      <section th:replace="fragments/volver :: section"></section>
    </div>
    </div>
  </main>

  <!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!--	DARK MODE  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script src="/js/toggle.js"></script>

  <!--	SCRIP de BOOTSTRAP v5.3  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script th:replace="fragments/bootstrap :: script"></script>

</body>

</html>