<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <title>Biblioteca Egg</title>

  <!-- CSS only -->
  <link rel="stylesheet" href="./css/reset.css">

  <link href="css/one-page-wonder.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/darkmode.css">
  <link rel="stylesheet" href="/css/exitoError.css">
  <link rel="stylesheet" href="/css/botones.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body style="overflow-x:hidden">
  <header>
    <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <nav class="navbar navbar-expand-lg navBar" id="navbar">
      <div class="containerImg">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <img class="logo" src="/img/Egg.png" alt="Img logo egg">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- DARK-MODE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
      <div id="darkmode">
        <img class="sun" src="./img/sun.png">
        <img class="moon" src="./img/moon.png">
        <div class="toggle"></div>
      </div>

      <!-- CREAR y LISTAR LIBROS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
      <div class="collapse navbar-collapse elementosNav" id="desplegables">

        <ul class="navbar-nav ms-auto elementos">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lista1" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Libros
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Crear Libro" -->
              <li><a class="dropdown-item" th:href="@{/libro/registrar}">Crear Libro</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Listar Libros" -->
              <li><a class="dropdown-item" th:href="@{/libro/lista}">Listar Libros</a></li>
              <!-- th: = Tag de Thymeleaf -->
            </ul>
          </li>


          <!-- CREAR y LISTAR AUTORES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="lista2" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Autores
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listas">
              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Crear Autor" -->
              <li><a class="dropdown-item" th:href="@{/autor/registrar}">Crear Autor</a></li>
              <!-- th: = Tag de Thymeleaf -->

              <li>
                <hr class="dropdown-divider">
              </li>

              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Listar Autores" -->
              <li><a class="dropdown-item" th:href="@{/autor/lista}">Listar Autores</a></li>
              <!-- th: = Tag de Thymeleaf -->
            </ul>
          </li>

          <!-- CREAR y LISTAR EDITORIALES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lista3" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Editoriales
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listas">
              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Crear Editorial" -->
              <li><a class="dropdown-item" th:href="@{/editorial/registrar}">Crear Editorial</a></li>
              <!-- th: = Tag de Thymeleaf -->
              <li>
                <hr class="dropdown-divider">
              </li>

              <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Listar Editoriales" -->
              <li><a class="dropdown-item" th:href="@{/editorial/lista}">Listar Editoriales</a></li>
            </ul>
            <!-- th: = Tag de Thymeleaf -->
        </ul>
      </div>
    </nav>
  </header>

  <main id="main">
    <!-- EXITO / ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <!-- th:if="${exito != null}" = Tag de Thymeleaf + condición -->
    <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
      <div class="card-body">
        <h5 class="card-title">Exito! 👍</h5>

        <!-- Llamo a la llave ${ modelo.put("exito", exception.getMessage()); } desde clase AutorControlador -->
        <p class="card-text" th:text="${exito}"></p>
      </div>
    </div>

    <!-- th:if="${error != null}" = Tag de Thymeleaf + condición -->
    <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
      <!-- Llamo a la llave ${ modelo.put("error", exception.getMessage()); } desde clase AutorControlador -->

      <div class="card-body">
        <h5 class="card-title">Error 👎</h5>

        <!-- Llamo a la llave ${ modelo.put("error", exception.getMessage()); } desde clase AutorControlador -->
        <p class="card-text" th:text="${error}"></p>
      </div>
    </div>


    <!-- TEXTO DEL INDEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <section class="contenedorMain">
      <div class="tituloBiblioteca">
        <h2>BIBLIOTECA EGG</h2>
      </div>
      <div class="container contenedorLibros">
        <p class="tituloLibros">Encontrá todos los Libros Aquí!</p>

        <!-- BOTÓN AMARILLO DEL INDEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
        <!-- <p class="tituloLibros" th:if="${session.usuariosession != null}" th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre} "></p> -->
        <div>
          <a href=/libro/lista><button type="submit" class="btn btn-primary mt-3" id="boton">Ver Listado</button></a>
          <!-- <a href=/libro/lista class="btn btn-xl mt-2 boton" id="boton">Ver Listado</a> -->
        </div>
      </div>

      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </section>
  </main>

  <!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer class="text-muted py-5">
    <div class="containerFooter" id="footer">
      <p class="mb-1">Copyright &copy; truquinio,<br> all rights reserved</p>
      <p class="mb-0">Visit my <a href="https://github.com/truquinio" class="github"><br>GitHub</a> profile or visit my
        <a href="https://www.linkedin.com/in/federico-trucco/" class="linkedin">LinkedIn</a> profile.</p>
      <p class="float-end mb-1">
        <a href="#" class="up-sky" id="sky">⬆️ Ir al cielo</a>
      </p>
    </div>
  </footer>

  <!--	DARK MODE  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script src="/js/toggle.js"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>