<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- <etiqueta-Padre th:replace = "/Carpeta-Plantilla/etiqueta-hijo :: etiqueta-Padre"></etiqueta-Padre> -->
<head th:replace="/fragments/head1 :: head"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="fragments/navbar :: header"></header>

<main id="main">
  <!-- TEXTO DEL INDEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <section class="contenedorMain">
    <div class="tituloBiblioteca">
      <h2>BIBLIOTECA EGG</h2>
    </div>

    <!-- FOTO PERFIL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div class="imgPerfil">
      <a th:if="${session.usuariosession.imagen != null}" class="d-flex align-items-center">
          <img class="logo" id="imgPerfil" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}">
      </a>
  </div>

  <!-- TEXTO BIENVENIDA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div class="container contenedorLibros">
      <!-- Valido si Usuario está logueado, muestra msj saludo + nombre de Usuario -->
      <p class="tituloLibros" th:if="${session.usuariosession != null}" th:text="'¡Hola de vuelta ' + ${session.usuariosession.nombre} + '!'"></p>

      
    <!-- BOTÓN AMARILLO DEL INDEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
        <!-- <p class="tituloLibros" th:if="${session.usuariosession != null}" th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre} "></p> -->
        <div>
          <a href=/libro/lista><button type="submit" class="btn btn-primary mt-3" id="boton">Ver Listado</button></a>
        <!-- <a href=/libro/lista class="btn btn-xl mt-2 boton" id="boton">Ver Listado</a> -->
        </div>
    </div>

    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</section>
</main>

<!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
<footer th:replace="fragments/footer :: footer"></footer>

<!--	DARK MODE  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
<script src="/js/toggle.js"></script>

<!--	SCRIP de BOOTSTRAP v5.2  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
<script th:replace="fragments/scriptBootstrap :: script"></script>

</body>
</html>