<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- <etiqueta-Padre th:replace = "/Carpeta-Plantilla/etiqueta-hijo :: etiqueta-Padre"></etiqueta-Padre> -->
<head th:replace = "/fragments/head2 :: head"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="fragments/navbar :: header"></header>


  <main id="main2">
    <!-- MODIFICAR LIBRO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div class="container-fluid m-5 contenedor">

      <form class="formulario" th:action="@{/libro/modificar/__${libro.isbn}__}" method="POST">
        <input hidden th:value="${isbn}" name="isbn">

        <div class="form-group my-3">
          <label class="mb-2">Modificar Libro</label>

          <input th:value="${libro.titulo}" type="text" class="form-control" name="titulo" placeholder="Titulo">
        </div>

        <div class="form-group my-3">
          <label class="mb-2">Ejemplares</label> 
          <input th:value="${libro.ejemplares}" type="number" class="form-control" name="ejemplares" placeholder="Cantidad de Ejemplares">
      </div>
      
        <div class="form-group my-3">
          <select name="idAutor">
            <option>Seleccionar Autor</option>
            <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}">
          </select>
        </div>
        <div class="form-group my-3">
          <select name="idEditorial">
            <option>Seleccionar Editorial</option>
            <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}">
          </select>
        </div>

        <!-- BOTÓN ACTUALIZAR  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
        <div class="divGuardar1">
          <button type="submit" class="btn btn-primary mt-3 botones" id="botonAmarillo">Actualizar</button>
        </div>
      </form>

      <!-- EXITO / ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
      <div th:replace="fragments/exitoError :: div"></div>
    </div>


    <!-- BOTÓN VOLVER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div  id="divVolver1">
      <section th:replace="fragments/volver :: section"></section>
    </div>
    </div>
  </main>

  <!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!--	DARK MODE  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script src="/js/toggle.js"></script>

  <!--	SCRIP de BOOTSTRAP v5.2  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script th:replace="fragments/scriptBootstrap :: script"></script>

</body>
</html>