<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- <etiqueta-Padre th:replace = "/Carpeta-Plantilla/etiqueta-hijo :: etiqueta-Padre"></etiqueta-Padre> -->
<head th:replace = "/fragments/head :: header_form"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="fragments/navbar :: navbar_users"></header>

  <main id="main2">

    <!-- EXITO / ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div th:replace="fragments/exitoError :: div"></div>
    </div>

    <!-- MENSAJE por si no está LOGUEADO -->
    <div  th:replace="fragments/login :: div"></div>

  <!-- FORMULARIO LIBRO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <div sec:authorize="hasRole('ADMIN')" class="container-fluid m-5 contenedor">
    <!-- sec:authorize="hasRole('ADMIN') = Sólo rol ADMIN puede acceder al formulario -->

      <!--  action = Se dispara la acción al servidor y se ejecuta en una URL (/libro/registro) y ocurre en una petición del tipo POST  -->
      <form class="formulario" action="/libro/registro" method="POST">

        <!-- CARGAR LIBRO  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
        <div class="form-group my-3">
          <label class="mb-2">Cargar Libro</label>
          <input type="number" class="form-control" name="isbn" placeholder="ISBN" required>
        </div>
        <div class="form-group my-3">

          <!-- Este input envía datos encerrados en una variable con un name (debe coincidir con lo que llega como parámetro al controlador) por eso se llama "titulo"  -->
          <input type="text" class="form-control" name="titulo" placeholder="Titulo del Libro" required>
        </div>
        <div class="form-group my-3">

          <!-- Este input envía datos encerrados en una variable con un name (debe coincidir con lo que llega como parámetro al controlador) por eso se llama "ejemplares"  -->
          <input type="number" class="form-control" name="ejemplares" placeholder="Cantidad de Ejemplares" required>
        </div>


        <!-- SELECCIONAR AUTOR  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
        <div class="form-group my-3">
          <select name="idAutor">
            <option>Seleccionar Autor</option>
            <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}" />
            <!-- th:each = for:each -> Repite/itera tantas veces como se indique sobre elementos de lista -->
            <!-- th:value = Da los inputs valores distintos, dependiendo de que envíe el controlador -->
            <!-- th:text = Reemplaza texto de etiqueta por valor de la expresión que damos -->
          </select>
        </div>


        <!-- SELECCIONAR EDITORIAL  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
        <div class="form-group my-3">
          <select name="idEditorial">
            <option>Seleccionar Editorial</option>
            <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}" />
            <!-- th:each = for:each -> Repite/itera tantas veces como se indique sobre elementos de lista -->
            <!-- th:value = Da los inputs valores distintos, dependiendo de que envíe el controlador -->
            <!-- th:text = Reemplaza texto de etiqueta por valor de la expresión que damos -->
          </select>
        </div>

        <!-- BOTÓN GUARDAR  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
        <div class="divGuardar1">
          <button type="submit" class="btn btn-primary mt-3 botones" id="botonAmarillo">Guardar</button>
        </div>
      </form>

    <!-- BOTÓN VOLVER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div  id="divVolver1">
      <section th:replace="fragments/volver :: section"></section>
    </div>
    </div>
  </main>

  <!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!--	DARK MODE  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script src="/js/toggle.js"></script>

  <!--	SCRIP de BOOTSTRAP v5.3  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script th:replace="fragments/bootstrap :: script"></script>

</body>
</html>