<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!-- <etiqueta-Padre th:replace = "/Carpeta-Plantilla/etiqueta-hijo :: etiqueta-Padre"></etiqueta-Padre> -->

<head th:replace="/fragments/head :: header_form"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="fragments/navbar :: navbar_users"></header>

  <main id="main2">

    <!-- EXITO / ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div th:replace="fragments/exitoError :: div"></div>
    </div>

    <!-- MENSAJE por si no está LOGUEADO -->
    <div  th:replace="fragments/login :: div"></div>

    <!-- TABLA USUARIOS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div sec:authorize="hasRole('ADMIN')" class="container m-5">
      <!-- sec:authorize="hasRole('ADMIN') = Sólo rol ADMIN puede acceder a la TABLA -->

      <table class="table table-dark" id="tabla3">
        <thead class="align-items-center">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Usuario</th>
            <th scope="col">E-mail</th>
            <th scope="col">Rol</th>
            <th scope="col">Foto</th>

            <!-- sec:authorize="hasRole('ADMIN')" = Condiciono q columna acciones sólo se vea siendo ADMIN -->
            <th scope="col" >Acciones</th>

          </tr>
        </thead>
        <tbody th:each="usuario : ${usuarios}">
          <tr>
            <th scope="row" th:text="${usuario.id}"></th>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.rol}"></td>
            <td <p><img th:if="${usuario.imagen != null}" class="fotoUser" th:src="@{/imagen/perfil/__${usuario.id}__}"></p>
            </td>

            <td>
              <a th:href="@{/admin/modificarRol/__${usuario.id}__}"><i class="bi bi-person-circle"></i> Cambiar Rol</a>
              <a th:href= "@{/admin/modificar/__${usuario.id}__}"><i class="bi bi-pen"></i> Modificar</a>
              <a th:href="@{/admin/eliminar/__${usuario.id}__}"><i class="bi bi-trash"></i> Eliminar</a>
            </td>
          </tr>

        </tbody>
      </table>

      <!-- EXITO / ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
      <div th:replace="fragments/exitoError :: div"></div>
    </div>

    <!-- BOTÓN VOLVER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div id="divVolver1">
      <section th:replace="fragments/volver :: section"></section>
    </div>
    </div>
  </main>

  <!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!--	DARK MODE  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script src="/js/toggle.js"></script>

  <!--	SCRIP de BOOTSTRAP v5.3  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <script th:replace="fragments/bootstrap :: script"></script>

</body>

</html>