<nav class="navbar navbar-expand-lg navBar" id="navbar">
  <div class="containerImg">
    <a href="/" class="navbar-brand d-flex align-items-center">
      <img class="logo" src="/img/Egg.png" alt="Img logo egg">
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <!-- CREAR y LISTAR LIBROS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
  <div class="collapse navbar-collapse elementosNav" id="desplegables">

    <ul class="navbar-nav ms-auto elementos">

      <li class="nav-item dropdown">
        <!-- th:if=${session.usuariosession = Si hay usuario logueado muestra botón Libro -->
        <a class="nav-link dropdown-toggle" th:if=${session.usuariosession != null} href="#" id="lista1" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Libros
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Crear Libro" -->
          <li><a class="dropdown-item" sec.authorize="hasRole('ADMIN')" th:href="@{/libro/registrar}">Crear Libro</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Listar Libros" -->
          <li><a class="dropdown-item" th:href="@{/libro/lista}">Listar Libros</a></li>

        </ul>
      </li>


      <!-- CREAR y LISTAR AUTORES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="lista2" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Autores
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listas">
          <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Crear Autor" -->
          <li><a class="dropdown-item" th:href="@{/autor/registrar}">Crear Autor</a></li>


          <li>
            <hr class="dropdown-divider">
          </li>

          <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Listar Autores" -->
          <li><a class="dropdown-item" th:href="@{/autor/lista}">Listar Autores</a></li>

        </ul>
      </li>

      <!-- CREAR y LISTAR EDITORIALES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="lista3" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Editoriales
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listas">
          <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Crear Editorial" -->
          <li><a class="dropdown-item" th:href="@{/editorial/registrar}">Crear Editorial</a></li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Listar Editoriales" -->
          <li><a class="dropdown-item" th:href="@{/editorial/lista}">Listar Editoriales</a></li>
        </ul>

        <!-- PERFIL / CERRAR SESIÓN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="lista4" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Perfil
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listas">
          <!-- En los href pongo a qué controlador se tiene que ir cuando toque "Crear Editorial" -->
          <li><a class="dropdown-item" th:href="@{/editorial/registrar}">Cerrar Sesión</a></li>
        </ul>
      </li>

      <!-- INGRESAR / REGISTRAR  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
      <li class="nav-item">
        <!-- th:if=${session.usuariosession = Si no hay usuario logueado muestra botón Registrar -->
        <a class="nav-link " th:if=${session.usuariosession == null} href="/registrar" id="lista1" role="button"
          aria-expanded="false">📝 Registrate!
        </a>
      </li>

      <li class="nav-item">
        <!-- th:if=${session.usuariosession = Si no hay usuario logueado muestra botón Registrar -->
        <a class="nav-link" th:if=${session.usuariosession == null} href="/login" id="lista1" role="button" aria-expanded="false">✅ Ingresar</a>
      </li>
    </ul>
  </div>
</nav>