<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>


<!-- Administrar clientes: cargar datos de los clientes que desean reservar una habitación para
realizar una estancia, modificar datos de los clientes, realizar consultas y eliminar clientes. Al
igual que las familias, un cliente puede darse de alta una vez que se haya creado el usuario
correspondiente. -->