<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<!-- Administrar casas: cargar los datos de una vivienda y asociar a la familia correspondiente,
modificar los datos (por ejemplo, fechas en las cuales se encuentra disponible), listar casas
(país, el periodo de disponibilidad, cantidad de días mínima y máxima de estancia, el precio de
la habitación por día, el tipo de vivienda y el nombre del propietario). Se debe eliminar los
datos de una casa cada vez que se da de baja la familia propietaria. -->