<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>



<!-- Realizar Reservas: El portal principal debería permitir que una persona que ingresa a la web
pueda consultar las viviendas que se encuentran disponibles para realizar estancias (validando
fechas disponibles). Una vez que el usuario encuentra una vivienda que se adecua a sus
preferencias y quiere realizar una reserva, recién en ese momento se solicita que se registre
como usuario y luego se procede a realizar la reserva.

• Cuando el usuario se registra se le debe dar la opción de elegir si se quiere registrar como
familia que ofrece una vivienda o como cliente. Dependiendo de la opción elegida se pide
que complete los datos correspondientes (familia o cliente) para continuar con su registro.

• Si el usuario ya se encuentra restirado entonces debe realizar el login para poder
continuar.

• Se debe tener en cuenta que para realizar una reserva la vivienda no debe estar ya
reservada por otro cliente.

• Se debe permitir que un cliente modifique su reserva, por ejemplo: cambiar las fechas, o la
elimine en caso de no poder realizarla.

• Se deben poder listar las reservas realizadas por parte de los clientes. -->