<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/head :: header_index"></head>

<body>
  <header>

  </header>

  <main>
    <h1>Lista de usuarios</h1>

    <div class="container m-5">

      <table class="table table-dark">
        <thead>
          <tr>

            <th scope="col">Alias</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha Alta</th>
            <th scope="col">Fecha Baja</th>
            <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>

          </tr>
        </thead>
        <tbody th:each="usuario : ${usuarios}">
          <tr>

            <td th:text="${usuario.alias}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.fechaAlta}"></td>
            <td th:text="${usuario.fechaBaja}"></td>
            <td>
              <a sec:authorize="hasRole('ADMIN')" th:href="@{/usuarios/modificar/__${usuario.id}__}"><i
                  class="fas fa-feather-alt"></i> Modificar </a>
            </td>
          </tr>

        </tbody>
      </table>

      <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
        <div class="card-body">
          <h5 class="card-title">Exito ð</h5>
          <p class="card-text" th:text="${exito}"></p>
        </div>
      </div>
      <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
        <div class="card-body">
          <h5 class="card-title">Error ð</h5>
          <p class="card-text" th:text="${error}"></p>
        </div>
      </div>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <a th:href="@{/}" class="btn btn-primary my-2">Volver al index</a>
            </p>
          </div>
        </div>
      </section>

    </div>
  </main>

  <footer>

  </footer>
</body>

</html>