#exito {
    /* z-index: 11 = A mayor valor más arriba se representa el elemento. */
    z-index: 9;

    position: absolute;
    top: 15%;
    left:50%;
    transform: translate(-50%, -50%);

    margin: 0%;
    padding: 0%;

    width: auto;
    height: auto;
    text-align: center;
}

#error {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0%;
    padding: 0%;

    width: auto;
    height: auto;
    text-align: center;
}