#exito {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0%;
    padding: 0%;

    width: auto;
    height: auto;
    text-align: center;
}

#error {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0%;
    padding: 0%;

    width: auto;
    height: auto;
    text-align: center;
}