* {
    padding: 0%;
    margin: 0%;

    /* background-color: #c40c56; */
}

html,
body {
    overflow: hidden;
}

body {
    min-height: 100vh;
}

#main2 {
    background-image: url(../img/FondoZoom.jpg);
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: end;
}

#cargar{
    align-items: left;
    text-align: left;

    font-size: bolder;
}

.formulario {
    width: 70%;
    margin: -30px auto 120px auto;
    display: flex;
    flex-direction: column;
}