* {
    padding: 0%;
    margin: 0%;

    /* background-color: #c40c56; */
}

html,
body {
    overflow: auto;
}

body {
    min-height: 100vh;
    text-align: center;
}

#main {
    background-image: url(../img/FondoZoom_2.jpg);
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: end;
}

.tituloBiblioteca {
    margin-top: 150px;

    color: #37474f;
    text-align: center;

    font-size: 200px;
    line-height: normal;
    font-weight: bolder;

    /* background: blue; */
}

.tituloLibros {
    font-size: 22px;
    font-weight: 500;

    /* background: red; */
}

.contenedorLibros {
    color: #37474f;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background: pink; */
}

.contenedorMain {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background: yellowgreen; */
}

.containerFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton {
    background-color: #ffcb00;
    
    box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
}

.boton:hover {
    background-color: #ffcb00;
}

.boton:active {
    box-shadow: none;
}